.pre-loader {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 1000;
}

.pre-loader-wrapper  {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  font-family: 'Poppins', Verdana, Geneva, Tahoma, sans-serif;
}

.pre-loader-overflow {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(180deg, #041A21 0%, #0A4153 40.1%, #0B485B 51.56%, #0A4253 64.06%, #041A21 100%);
}

.pre-loader-overflow img {
  width: 60px;
  margin-bottom: 20px;
  height: auto;
}

.logo-text {
  letter-spacing: 10px;
  font-weight: 400;
  font-size: 1em;
  color: #45C0E4;
  margin-bottom: 40px;
}

.loader-span {
  width: 120px;
  position: relative;
}

.loader {
  width: 12;
  height: 2px;
  border-radius: 1px;
  position: absolute;
  display: block;
}

.loader-top {
  background: #137D9D;
  width: 120px;
  opacity: 0.7;
}

.loader-bottom {
  width: 40px;
  background: #67D9FB;
}


@media (max-width: 1168px){
  .pre-loader-overflow img {
    width: 52px;
    margin-bottom: 15px;
  }
  .logo-text {
    font-size: 0.95em;
    margin-bottom: 32px;
  }
}

@media (max-width: 768px){
  .pre-loader-overflow img {
    width: 44px;
    margin-bottom: 10px;
  }
  .logo-text {
    font-size: 0.9em;
    margin-bottom: 26px;
  }
}