.intro-faceAnimate {
  height: 100vh;
  width: 100%;
  background: #2A2A2A;
  overflow: hidden;
}

.intro-faceAnimate-background {
  width: 100%;
  height: 100vh;
  background: #323232;
}


.intro-openFaceAnim {
  height: 100vh;
  animation: openFaceAnim 0.45s linear;
}

.intro-faceAnimate-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -100%
}

/* screen open animation */
@keyframes openFaceAnim {
  0% {
    height: 0;
  }
  100% {
    height: 100vh;
  }
}


.text_intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 380px;
  height: 80px;
  border-radius: 20px;
  background: #323232;
}

.text_intro h1,
.text_intro h2 {
  font-family: 'Noto Sans JP', 'Sans Serif';
  text-align: center;
  color: #f7f7f7;
  font-weight: 600;
}

.text_intro h1 {
  line-height: 45px;
  font-size: 2.5em;
  font-weight: 900;
}



.text_intro h2 {
  font-size: 0.8em;
  letter-spacing: 1px;
}

.dark_gray {
  color: #878787;
}

.green {
  color: #3cb6b1;
}

.yellow {
  color: #BEC642
}

.red {
  color: #C64242;
}

.orange {
  color: #b6823c;
}

.blue {
  color: #3C97B6;
}

.button_intro {
  width: 240px;
  height: 70px;
  background: #323232;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
}

.text_intro_header .letter,
.text_intro_subheader .letter {
  display: inline-block;
  opacity: 0;
}

/* .intro-overlay {
  position: absolute;
  z-index: 50;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
}

.overlay-cover {
  position: absolute;
  width: 0px;
  height: 0px;
  top: 0px;
  left: 0px;
  border-radius: 50%;
} */


/* screen size 768px */
@media(max-width: 768px) {
  .text_intro {
    width: 340px;
    height: 70px;
  }
  .text_intro h1 {
    font-size: 2.2em;
  }
  .text_intro h2 {
    font-size: 0.75em;
  }
  .button_intro {
    width: 220px;
  }
}

/* screen size 568px */
@media(max-width: 568px) {
  .text_intro {
    width: 320px;
    height: 70px;
  }
  .text_intro h1 {
    font-size: 1.9em;
  }
  .text_intro h2 {
    font-size: 0.7em;
  }
  .button_intro {
    width: 200px;
  }
}

/* screen size 320px */
@media(max-width: 320px) {
  .text_intro {
    width: 270px;
    height: 60px;
  }
  .text_intro h1 {
    line-height: 32px;
    font-size: 1.7em;
  }
  .text_intro h2 {
    font-size: 0.6em;
  }
}


