

.launch-links-wrapper {
  display: block;
  width: 100%;
  min-height: 50px;
  padding-top: 10px;
  /* background: rgba(160,160,160,0.1); */
}

.launch-link {
  float: left;
  width: 50%;
  transition: all 0.2s ease-in;
}

.launch-link:hover {
  opacity: 0.92;
  transition: all 0.2s ease-in;
}

.launch-link .show-container .block-arrow {
  transition: all 0.15s ease-in;
}

.launch-link .show-container:hover .block-arrow{ 
  transform: translateX(15px);
  transition: all 0.15s ease-in;
}

@media (max-width: 768px) {
  .launch-links-wrapper {
    min-height: 100px;
    padding-top: 0px;
    /* background: red; */
  }
  .launch-link {
    width: 100%;
    margin: 10px 0 15px 0;
  }
}

