* {
  padding: 0;
  margin: 0;
}

.main {
  width: 100%;
  min-height: 100vh;
}

.container {
  max-width: 1400px;
  height: 100vh;
  margin: 0 auto;
  background: #3E3A3A;
  /* overflow: hidden; */
}

.header {
  width: inherit;
  height: 100vh;
  background: orange;
}




.what-i-can-do {
  width: 100%;
  min-height: 100vh;
  background: white;
}

.section-container {
  padding: 100px 0;
}

.section-container, .section-quote, .quote-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-container {
  width: inherit;
  height: inherit;
  background: url('./assets/background1.png') no-repeat center;
  background-size: cover;
}


.section-quote {
  width: 80%;
  height: 120px;
  margin-bottom: 40px;
}

.quote-title {
  color: #2F8581;
  font-family: 'Fresca', verdana, sans-serif;
  font-size: 3em;
}
.quote-container{
  width: 450px;
  font-family: 'Open Sans';
  line-height: 1.2em;
  color: #5D6767;
}
.quote-container q {
  text-align: center;
  font-size: .75em;
}
.quote-container span {
  font-size: .65em;
}




.article-1, .article-2 {
  height: 220px;
  width: 620px;
  margin-bottom: 40px;
}

.article-img-container {
  width: 30%;
  height: 100%;
  float: left;
}

.article-text-container {
  height: 100%;
  float: left;
  width: 70%;
}

.article-2 .article-img-container {
  float: right;
}
.article-2 .article-text-container {
  float: left;
}

.article-img-container .img-bubble, .img-slide-figure {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.img-slide-figure figure {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: #C0E2E4;
}

.img-slide-wrapper {
  position: absolute;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.img-slider-wrap {
  position: relative;
  top: 140px;
}


.img-desktop {
  width: 80px;
}

.img-mobile {
  width: 48px;
}

.img-tablet {
  width: 80px;
}







.article-img-container svg {
  width: 150px;
  height: 160px;
  /* background: pink; */
}

.article-container {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  padding: 0 10%;
}

.article-container h4 {
  font-size: 1.35em;
  color: #2F8581;
  font-family: 'Averia Serif Libre', verdana, sans-serif;
}

.article-container p {
  margin-top: 10px;
  color: #7E7070;
  font-size: 1em;
  text-align: justify;
  line-height: 1.7em;
  font-family: 'Ubuntu', verdana, sans-serif;
}






@media(max-width: 768px){
  .quote-title {
    font-size: 2.8em;
    text-align: center;
  }

  .article-1, .article-2 {
    height: 200px;
    width: 580px;
  }

  .article-img-container svg {
    width: 140px;
    height: 150px;
  }

  .article-container h4 {
    font-size: 1.28em;
  }

  .article-container p {
    font-size: 1em;
  }
}


@media(max-width: 668px){
  .quote-title {
    font-size: 2.6em;
  }
  .quote-container q {
    font-size: .75em;
  }

  .quote-container span {
    font-size: .65em;
  }

  .article-1, .article-2 {
    width: 540px;
  }

  .article-img-container svg {
    width: 130px;
    height: 139px;
  }

  .article-container {
    padding: 0 5%;
    width: 90%;
    
  }

  .article-container p {
    line-height: 1.55em;
  }

}


@media(max-width: 568px) {
  .section-quote {
    width: 100%;
    margin-bottom: 20px;
  }

  .quote-title {
    font-size: 2.5em;
  }

  .quote-container {
    width: 420px;
  }

  .quote-container q {
    font-size: .72em;
  }


  .article-1, .article-2 {
    width: 430px;
    height: 340px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px auto;
  }

  .article-img-container {
    float: none;
    width: 100%;
    height: 150px;
  }

  .article-text-container {
    height: 150px;
    float: none;
    width: 360px;
  }

  .article-img-container svg {
    width: 120px;
    height: 128px;
  }

  .article-container h4 {
    text-align: center;
  }

  


  .img-slide-figure figure {


    width: 130px;
    height: 130px;
  }

  .img-slider-wrap {
    position: relative;
    top: 140px;
  }


  .img-desktop {
    width: 70px;
  }

  .img-mobile {
    width: 38px;
  }

  .img-tablet {
    width: 70px;
  }


}


@media(max-width: 468px) {
   .section-quote {
     width: 100%;
   }

   .quote-title {
     font-size: 2.4em;
   }

   .quote-container {
     width: 300px;
   }

   .quote-container q {
     width: 80%;
     font-size: .68em;
   }

   .quote-container span {
     font-size: .62em;
   }

  .article-1, .article-2 {
    width: 290px;
    height: 380px;
  }
  
  .article-text-container {
    width: 100%;
    height: 200px;
  }

}


@media(max-width: 320px) {
   .section-quote {
     width: 100%;
   }

   .quote-title {
     font-size: 2.3em;
   }

   .quote-container {
     width: 240px;
   }

   .article-1, .article-2 {
     width: 240px;
     height: 440px;
   }

   .article-text-container {
     height: 250px;
   }

   .article-img-container svg {
     width: 110px;
     height: 118px;
   }

}




































.div{
  height: 100vh;
  width: 100%;
  background: #2F8581;
}














































