* {
  padding: 0;
  margin: 0;
}

.main {
  width: 100%;
  min-height: 100vh;
}

.container {
  max-width: 1600px;
  height: 100vh;
  margin: 0 auto;
  background: #3E3A3A;
  /* overflow: hidden; */
}

.header {
  width: inherit;
  height: 0vh;
  background: orange;
}

.what-i-can-do {
  width: 100%;
  min-height: 0vh;
  background: white;
}

.dedicated {
  width: 100%;
  min-height: 0vh;
  /* background: #3E3A3A; */
}

.my-work {
  height: 0px;
  width: 100%;
  background: #1F6562;
}



.content-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content-align {
  min-height: 100px;
  width: 1014px;
}

@media (max-width: 1268px) {
  .content-align {
    width: 934px;
  }
}

@media (max-width: 1168px) {
  .content-align {
    width: 854px;
  }
}

@media (max-width: 1068px) {
  .content-align {
    width: 774px;
  }
}

@media (max-width: 968px) {
  .content-align {
    width: 694px;
  }
}

@media (max-width: 868px) {
  .content-align {
    width: 614px;
  }
}

@media (max-width: 768px) {
  .content-align {
    width: 620px;
  }
}

@media (max-width: 668px) {
  .content-align {
    width: 520px;
  }
}

@media (max-width: 568px) {
  .content-align {
    width: 420px;
  }
}

@media (max-width: 468px) {
  .content-align {
    width: 320px;
    margin: 7.5% auto;
  }
}


@media (max-width: 368px) {
  .content-align {
    width: 280px;
    margin: 10% auto;
  }
}




.section-header {
  height: 200px;
  text-align: center;
  margin-bottom: 40px;
  /* background: orange; */
}

.header-title {
  font-family: 'Fresca', verdana, sans-serif;
  font-size: 4.5em;
  color: #EBE9CD;
  margin: 10px;
}

.header-quote {
  color: #B5B8B8;
  line-height: 1.9em;
  font-size: 1.2em;
  font-family: 'Open Sans', verdana, sans-serif;
}

@media (max-width: 968px) {

  .header-title {
    font-size: 4.2em;
  }

  .header-quote {
    font-size: 1.15em;
  }
}

@media (max-width: 868px) {

  .header-title {
    font-size: 3.9em;
  }

  .header-quote {
    font-size: 1.1em;
  }
}



@media (max-width: 768px) {
  .header-title {
    font-size: 3.6em;
  }

  .header-quote {
    font-size: 1.05em;
  }
}

@media (max-width: 668px) {
  .section-header {
    margin-bottom: 20px;
    height: 170px;
  }

  .header-title {
    font-size: 3.3em;
  }

  .header-quote {
    font-size: 1em;
  }
}

@media (max-width: 568px) {
  .header-title {
    font-size: 3em;
  }
}

@media (max-width: 468px) {
  .header-title {
    font-size: 2.6em;
  }
}


@media (max-width: 368px) {
  .header-title {
    font-size: 2.3em;
  }
}





.my-skills {
  width: 100%;
  height: 100vh;
  background: #3E3A3A
}

.my-skills-container {
  width: inherit;
  height: inherit;
}

.message-text {
  width: 100%;
  text-align: center;
  font-family: 'Ubuntu', verdana, sans-serif;
  font-size: 1.8em;
  line-height: 1.8em;
   color: #EBE9CD;
}






















.div{
  height: 100vh;
  width: 100%;
  background: pink;
}










