.btn-common a {
  text-decoration: none;
  margin-top: 90px;
}

.envelop {
  display: block;
  width: 25px;
  height: 25px;
  /* background: url('/assets/envelop.png') no-repeat center center; */
  background-size: contain;
  margin-right: 15px;
}

.btn-mcommon {
  flex-direction: row;
  width: 200px;
  height: 50px;
  background: #DBDAC7;
  border: none;
  border-radius: 4px;
  font-family: 'Fresca';
  font-size: 1.3em;
  color: #1F6562;
  text-decoration: none;
  transition: all 0.3s linear;
}
.btn-common svg {
  width: 100%;
  height: 100%;
}

.btn-mcommon:hover {
  cursor: pointer;
  color: #B2DBD9;
  background: #84837D;
  transition: all 0.3s linear;
}



.btn-mcommon:hover  path{
  fill: #B2DBD9;
  transition: all 0.3s linear;
}