button {
  float: left;
  width: 170px;
  height: 45px;
  background: linear-gradient(91.87deg, #0D2147 3.37%, rgba(177, 157, 95, 0.68) 99.66%);
  border-radius: 8px;
  color: #eee4e4;
  font-size: 0.55em;
  border: none;
  font-family: 'Montserrat', 'sans serif';
}

@media(max-width: 1200px) {
  button {
    border-radius: 4px;
    width: 160px;
    height: 40px;
    font-size: 0.48em;
  }
}


@media(max-width: 992px) {
  button {
    width: 150px;
    height: 40px;
    font-size: 0.6em;
  }
}

@media(max-width: 768px) {
  button {
    margin-top: 15px;
    width: 160px;
    height: 45px;
    font-size: 0.68em;
  }
}

@media(max-width: 568px) {
  button {
    margin-top: 15px;
    width: 150px;
    height: 40px;
    font-size: 0.65em;
  }
}
