.paragraphs {
  padding: 10px 0 120px;
  width: 100%;
  min-height: 150px;
}

.p-wrapper {
  display: block;
}

.p-reveal  {
  letter-spacing: -0.02em;
}

.paragraphs h3:nth-child(5), .paragraphs h3:nth-child(7), .paragraphs h3:nth-child(9) {
  margin-top: 40px;
}

.paragraphs .p-desc {
  /* margin-top: 10px; */
  margin-bottom: 15px;
}

.p-desc-content {
  letter-spacing: -0.01em;
  line-height: 2em;
  text-align: justify;
}

.p-links {
  margin-bottom: 50px;
}

.p-links span {
  font-weight: 500;
}
