.top-layover {
  width: 100%;
  height: 100vh;
  position: fixed;
  background: #0E4268;
  z-index: 1000;
}

.top-layover-container{
  position: absolute;
  width: 100%;
  height: 100vh;
}

.top-layover-container {
  z-index: 950;
}

.top-layover-logo {
  width: 130px;
  height: 130px;
  opacity: 0;
}

.top-layover-logo svg {
  opacity: 1;
  width: 100%
}

@media (max-width: 668px) {
  .top-layover-logo {
    width: 94px;
    height: 94px;
  }
}

@media (max-width: 568px){
  .top-layover-logo {
    width: 86px;
    height: 86px;
  }
  .top-loading {
    font-size: 0.98em;
  }
}

@media (max-width: 468px) {
  .top-layover-logo {
    width: 78px;
    height: 78px;
  }
  .top-loading {
    font-size: 0.95em;
  }
}

@media (max-width: 368px) {
  .top-layover-logo {
    width: 70px;
    height: 70px;
  }

  .top-loading {
    font-size: 0.9em;
  }
} 