.introTwo {
  height: 0;
  width: 100%;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: #2A2A2A;
  overflow: hidden;
}

.introTwo .face {
  width: 427px;
  /* height: 500px; */
  height: calc(427px * 1.31);
  /* background: gray; */
}

.introTwo .headerText{
  width: 550px;
  height: 130px;
}

.headerText h1{
  font-size: 2.8em;
  color: lightgray
}

.headerText h2 {
  color: lightgray;
}

.green {
  color: #3CB6B1
}

.introTwo .button {
  width: 380px;
  height: 80px;
  /* background: orange; */
}

.zero1 {
  height: 100vh;
  animation: hide1 0.45s linear;
}

@keyframes hide1 {
  0% {
    height: 0;
  }

  100% {
    height: 100vh;
  }
}