 
.button-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button-background {
  height: 50px;
  width: 220px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
  
.button-background button {
  width: 214px;
  height: 44px;
  font-family: 'Noto Sans JP', 'Sans Serif';
  background: #323232;
  border: none;
  border-radius: 22px;
  color: #D2DBDB;
  font-size: 1em;
  font-weight: 600;
  letter-spacing: 1px;
}

.button-background button:focus {
  outline: none;
}

.button-background button:hover {
  background: #3e4141;
  cursor: pointer;
}

/* screen size 768px */
@media(max-width: 768px) {
  .button-background {
    height: 44px;
    width: 200px;
    border-radius: 22px;
  }
  .button-background button {
    height: 38px;
    width: 194px;
    border-radius: 19px;
    font-size: 0.8em;
  }
}

/* screen size 568 */
@media(max-width: 568px) {
  .button-background {
    height: 38px;
    width: 190px;
    border-radius: 19px;
  }

  .button-background button {
    height: 36px;
    width: 188px;
    border-radius: 18px;
    font-size: 0.75em;
  }
}