
.project-links-qr {
  width: 100%;
}

.project-links-qrwrapper {
  padding: 7em 0 4em 0;
}

.project-links-qrwrapper a {
  height: 200px;
  width: 200px;
}

.project-links-qrwrapper a img{
  border-radius: 15px;
  height: auto;
  width: 100%;
}


.project-links-qrwrapper span {
  color: #2093B8;
  display: block;
}

.project-links {
  width: 100%;
}

.project-links-wrapper {
  padding: 1em 0 2em 0;
  width: 100%;
}

.other-links span {
  color: #9EA5A9;
  display: block;
} 

.project-btn-wrapper {
  flex-direction: row;
  padding: 6em 0 2em 0
}

.project-btn {
  height: auto;
  margin: 0 25px;
  width: 250px;
}


@media (max-width: 1268px) {
  .project-btn {
    width: 234px;
  }
}

@media (max-width: 1068px) {
  .project-links-qrwrapper {
    padding: 5em 0 3em 0;
  }
}

@media (max-width: 868px) {
  .project-links-qrwrapper a {
    height: 180px;
    width: 180px;
  }
  .project-btn {
    width: 224px;
  }
}

@media (max-width: 668px) {
  .project-links-qrwrapper a {
    height: 160px;
    width: 160px;
  }
  .project-btn-wrapper {
    flex-direction: column;
    padding: 2em 0 2em 0;
  }
  .project-btn {
    display: flex;
    margin: 0px;
    padding: 4em 0 3em 0;
  }
  .project-btn:last-child {
    padding-bottom: 1em;
  }
}