
.project-details {
  width: 100%;
  overflow: hidden;
}

.project-detail-wrapper {
  width: 800px;
  padding: 1em 0 4em 0
}

.project-detail-wrapper h3{
  color: #126895;
  line-height: 2em;
  font-weight: 500;
}

.project-detail-wrapper p, .project-detail-wrapper span{
  color: #677B85;
  line-height: 2em;
}

.project-overview h3, .project-api h3{
  margin-bottom: .5em;
}

.project-overview p {
  margin-bottom: 1em;
}

.project-overview p:last-child {
  margin-bottom: 0em;
}

.platform-wrapper {
  min-height: 2em;
}

.platform-wrapper div {
  min-width: 1em;
  min-height: 2em;
  float: left;
  margin-right: 6em;
}

.platform-wrapper span {
  margin-top: 10px;
  display: block;
}

.platform-wrapper div:last-child {
   margin-right: 0;
}

.tech-used-wrapper {
  min-height: 1em;
  margin-top: 15px;
}

.tech-used-wrapper div {
  min-width: 1em;
  min-height: 2em;
  float: left;
  margin: 10px 15px 15px 0;
}

.tech-used-wrapper div:last-child {
  margin-right: 0;
}

.tech-used-wrapper div span {
  color: white;
  background: #04C2FF;
  border-radius: 26px;
  font-weight: 300;
  padding: 4px 18px;
}


.project-api a {
  transition: all 0.2s ease-in;
  color: #0BC3FF
}

.project-api a:hover {
  transition: all 0.2s ease-in;
  color: #FFC01D;
}

@media (max-width: 1368px) {
  .project-detail-wrapper {
    width: 750px;
  }
}

@media (max-width: 1268px) {
  .project-detail-wrapper {
    width: 710px;
  }
}

@media (max-width: 1068px) {
  .project-detail-wrapper {
    width: 680px;
  }
}

@media (max-width: 868px) {
  .project-detail-wrapper {
    width: 620px;
    padding: 2em 0 3em 0
  }
  .project-overview h3, .project-api h3{
    margin-bottom: 1em;
  }
  .platform-wrapper span {
    margin-top: 1em;
  }
  .tech-used-wrapper h3 {
    margin-bottom: 5px;
  }
}

@media (max-width: 768px) {
  .project-detail-wrapper {
    width: 580px;
  }
}

@media (max-width: 668px) {
  .project-detail-wrapper {
    width: 90%;
    padding: 1em 0 3em 0
  }
  .platform-wrapper div {
    margin-right: 4em;
  }
}

@media (max-width: 568px) {
  .project-detail-wrapper {
    width: 92%;
  }
  .platform-wrapper div {
    margin-right: 2.5em;
  }
  .tech-used-wrapper div {
    margin: 10px 15px 10px 0;
  }
}

@media (max-width: 468px) {
  .project-detail-wrapper {
    width: 94%;
  }
  .platform-wrapper div {
    margin-right: 2em;
  }
}

@media (max-width: 420px) {
  .project-platform h3 {
    margin-top: 1em;
  }
  .platform-wrapper div {
    margin-bottom: 2em;
  }
}