.screens h3 {
  margin-bottom: 0.5em;
}

.screens img {
  border-radius: 6px;
  cursor: zoom-in;
  height: auto;
  margin: 1em 0 2em 0;
  transition: all 0.2s ease-in;
  width: 100%;
}

.screens img:hover {
  filter: drop-shadow(8px 8px 8px gray);
  transition: all 0.2s ease-in;
}


@media (max-width: 868px) {
  .screens h3 {
    margin-bottom: 1em;
  }
}