.sketch {
  overflow: hidden;
}

.sketch h3 {
  margin-bottom: .5em;
}

.sketch-wrapper {
  margin: 0 5%;
  width: 90%;
}

.sketch-images img {
  border-radius: 6px;
  cursor: zoom-in;
  display: inline;
  margin: 1em .5% 0 .5%;
  width: 49%;
}

.design-images img {
  cursor: zoom-in;
  margin: 1em 2% 0 2%;
  width: 98%;
}

.sketch-wrapper ul {
  list-style: none;
  margin: 0 5%;
  padding: 0;
  width: 90%;
}

.sketch-wrapper ul li {
  color: #677B85;
  line-height: 2em;
  margin: 1em 0;
}

.sketch-wrapper ul li:last-child {
  margin-bottom: 0;
}

.sketch-wrapper ul li::before {
  content: "\2022";
  color: #FFC01D;
  display: inline-block;
  font-weight: bold;
  margin-left: -1em;
  width: 1em;
}

@media (max-width: 868px) {
  .sketch h3 {
    margin-bottom: 1em;
  }
}

@media (max-width: 768px) {
  .sketch-wrapper {
    margin: 0;
    width: 100%;
  }
}
