.my-work {
  height: 3250px;
  width: 100%;
  background: #1F6562;
}

.my-work-container {
  width: 100%;
  height: 100%;
  padding-bottom: 60px;
  /* background: url('./assets/background.png') repeat; */
}

.card-container {
  margin-top: 60px;
  height: 2550px;
  /* background: orangered; */
}

.design-container {
  width: 100%;
  height: 507px;
  border-radius: 20px;
  background: #145552;
  margin-bottom: 150px;
  box-shadow: 10px 10px 10px rgba(50, 50, 50, 0.7);
}


.design-container figure {
  width: 50%;
  height: 100%;
  /* background: pink; */
  float: left;
}

.design-container img {
  width: 100%;
  border-radius: 20px 0 0 20px;
}

.design-contents {
  width: 50%;
  float: right;
  height: 100%;
}

.design-description {
  width: 70%;
  height: 70%;
  /* background: pink; */
  color: #DBDAC7;
}

.design-description h2 {
  font-family: 'Averia Serif Libre';
  font-size: 2.5em;
}

.design-description p {
  margin-top: 30px;
  font-size: 1.2em;
  line-height: 1.8em;
  font-family: 'Open Sans';
  text-align: justify;
}

.design-text {
  height: 82%;
  /* background: pink; */
}

.design-description button {
  /* margin-top: 40px; */
  width: 220px;
  height: 50px;
  background: #DBDAC7;
  border: none;
  border-radius: 4px;
  font-family: 'fresca';
  font-size: 1.3em;
  color: #267975;
  transition: all 0.3s linear;
}

.design-description button:hover {
  cursor: pointer;
  color: #B2DBD9;
  background: #84837D;
  transition: all 0.3s linear;

}
.design-description button:focus {
  outline: none;
}

.design-left figure {
  float: right;
}

.design-left .design-contents {
  float: left;
}

.design-left img {
  border-radius: 0 20px 20px 0;
}

@media (max-width: 1268px) {
  .my-work {
    height: 3000px;
  }

  .card-container {
    height: 2350px;
  }

  .design-container {
    height: 467px;
  }

  .design-description h2 {
    font-size: 2.3em;
  }

  .design-description p {
    font-size: 1.18em;
  }
}


@media (max-width: 1168px) {
  .my-work {
    height: 2950px;
  }

  .card-container {
    height: 2200px;
  }

  .design-container {
    height: 427px;
  }

  .design-description h2 {
    font-size: 2.1em;
  }

  .design-description p {
    font-size: 1.16em;
    margin-top: 20px;
  }

  .design-text {
    height: 84%;
  }
}

@media (max-width: 1068px) {
  .my-work {
    height: 2800px;
  }

  .card-container {
    height: 2040px;
  }

  .design-container {
    height: 387px;
  }

  .design-description h2 {
    font-size: 1.9em;
  }

  .design-description p {
    font-size: 1.14em;
  }
}

@media (max-width: 968px) {
  .my-work {
    height: 2680px;
  }

  .card-container {
    height: 1880px;
  }

  .design-container {
    height: 347px;
  }

  .design-description h2 {
    font-size: 1.7em;
  }

  .design-description p {
    font-size: 1.10em;
    margin-top: 15px;
  }
}





@media (max-width: 868px) {
  .my-work {
    height: 2500px;
  }

  .card-container {
    height: 1710px;
  }

  .design-container {
    height: 307px;
  }

  .design-description {
    width: 75%;
    height: 75%;
  }

  .design-description h2 {
    font-size: 1.5em;
  }

  .design-description p {
    font-size: 1.08em;
  }
}



@media (max-width: 768px) {
  .my-work {
    height: 4550px;
  }

  .card-container {
    height: 3800px;
  }

  .design-container {
    width: 85%;
    margin: 0 7.5% 150px 7.5%;

    height: 827px;
  }

  .design-container figure {
    width: 100%;
    height: 527px;
  }

  .design-container img {
    border-radius: 10px 10px 0 0;
  }

  .design-contents {
    width: 100%;
    height: 300px;
    float: left;
  }

  .design-text {
    height: 70%;
  }
}


@media (max-width: 668px) {
  .my-work {
    height: 4150px;
  }

  .card-container {
    height: 3460px;
  }

  .design-container {
    height: 742px;
  }

  .design-container figure {
    height: 442px;
  }

  .design-description h2 {
    font-size: 1.42em;
  }

  .design-description p {
    font-size: 1.07em;
  }
}

@media (max-width: 568px) {
  .my-work {
    height: 4150px;
  }

  .card-container {
    height: 3370px;
  }

  .design-container {
    width: 100%;
    margin: 0 0 150px 0;
    height: 720px;
  }

  .design-container figure {
    height: 420px;
  }

  .design-description h2 {
    font-size: 1.36em;
  }

  .design-description p {
    font-size: 1.05em;
  }
}

@media (max-width: 468px) {
  .my-work {
    height: 3800px;
  }

  .card-container {
    height: 2950px;
  }

  .design-container {
    height: 620px;
  }

  .design-container figure {
    height: 320px;
  }

  .design-description {
    width: 80%;
    height: 80%;
  }

  .design-text {
    height: 75%;
  }
}

@media (max-width: 368px) {
  .my-work {
    height: 3650px;
  }

  .card-container {
    height: 2800px;
  }

  .design-container {
    height: 580px;
  }

  .design-container figure {
    height: 280px;
  }

  .design-description p {
    font-size: 1em;
  }
}
