
.profile-img-parallax {
  width: 100%;
  height: 85vh;
}

.profile-img {
  width: 100%;
  height: 85vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 1068px) {
  .profile-img {
    background-attachment: scroll;
  }
}
