

.profile-travels {
  min-height: 10em;
  padding: 11em 0 8em 0;
  width: 100%;
}

.profile-travels-wrapper {
  margin: 0 auto;
  min-height: 10em;
  width: 900px;
}

.profile-travels-wrapper h2 {
  color: #16728F;
  font-weight: 600;
  text-align: center;
}

.travels-img {
  column-gap: 6px;
  display: grid;
  grid-template-columns: 175.2px 175.2px 175.2px 175.2px 175.2px;
  grid-template-rows: 162.7px 162.7px 162.7px;
  row-gap: 6px;
  margin-top: 2em;
}

.travels-img-wrapper {
  height: 162.7px;
  overflow: hidden;
  width: 175.2px;
}

.travels-img-wrapper img {
  border-radius: 3px;
  cursor: zoom-in;
  height: 100%;
  width: 100%;
}


@media (max-width: 1368px) {
  .profile-travels {
    padding: 11em 0 7em 0;
  }
  .profile-travels-wrapper {
    width: 820px;
  }
  .travels-img {
    column-gap: 4px;
    grid-template-columns: 160.8px 160.8px 160.8px 160.8px 160.8px;
    grid-template-rows: 149.3px 149.3px 149.3px;
    row-gap: 4px;
  }
  .travels-img-wrapper {
    height: 149.3px;
    width: 160.8px;
  }
}

@media (max-width: 1168px) {
  .profile-travels {
    padding: 12em 0 7em 0;
  }
  .profile-travels-wrapper {
    width: 720px;
  }
  .travels-img {
    column-gap: 4px;
    grid-template-columns: 140.8px 140.8px 140.8px 140.8px 140.8px;
    grid-template-rows: 130.78px 130.78px 130.78px;
    row-gap: 4px;
  }
  .travels-img-wrapper {
    height: 130.78px;
    width: 140.8px;
  }
}

@media (max-width: 968px) {
  .profile-travels {
    padding: 11em 0 6em 0;
  }
  .profile-travels-wrapper {
    width: 620px;
  }
  .travels-img {
    column-gap: 4px;
    grid-template-columns: 121.6px 121.6px 121.6px 121.6px 121.6px;
    grid-template-rows: 112.95px 112.95px 112.95px;
    row-gap: 4px;
  }
  .travels-img-wrapper {
    height: 112.95px;
    width: 121.6px;
  }
}

@media (max-width: 768px) {
  .profile-travels {
    padding: 11em 0 6em 0;
  }
  .profile-travels-wrapper {
    width: 445px;
  }
  .travels-img {
    column-gap: 5px;
    grid-template-columns: 145px 145px 145px;
    grid-template-rows: 134.6px 134.6px 134.6px 134.6px 134.6px;
    row-gap: 5px;
  }
  .travels-img-wrapper {
    height: 134.6px;
    width: 145px;
  }
}

@media (max-width: 668px) {
  .profile-travels {
    padding: 11em 0 4.5em 0;
  }
  .profile-travels-wrapper {
    width: 411px;
  }
  .travels-img {
    column-gap: 3px;
    grid-template-columns: 135px 135px 135px;
    grid-template-rows: 125.39px 125.39px 125.39px 125.39px 125.39px;
    row-gap: 3px;
  }
  .travels-img-wrapper {
    height: 125.39px;
    width: 135px;
  }
}

@media (max-width: 568px) {
  .profile-travels-wrapper {
    width: 80%;
  }
  .travels-img {
    column-gap: .5%;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: auto auto auto auto auto;
    row-gap: .5%;
  }
  .travels-img-wrapper {
    height: auto;
    width: 100%;
  }
}

@media (max-width: 468px) {
  .profile-travels-wrapper {
    width: 86%;
  }
}

@media (max-width: 368px) {
  .profile-travels-wrapper {
    width: 92%;
  }
}