.section-about {
  width: 100%;
  height: 600px;
  background: url('/about-background.png') no-repeat center center fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px 10% 0 10%;
  font-family: 'Open Sans', 'sans serif';
  overflow: hidden;
}

.section-about-photo,
.section-about-text {
  width: 30%;
  position: relative;
  margin: 0 10px;
  opacity: 0.3;
  transition: all 0.6s linear;
}

.section-about-photo {
  left: -120%;
}

.section-about-text {
  right: -120%;
}


.section-about img {
  width: 240px;
}

.section-about-text {
  width: 50%
}

.section-about-text h2 {
  text-align: left;
  font-weight: 600;
  font-size: .85em;
  margin-bottom: 15px;
}

.section-about-text p {
  text-align: justify;
  font-size: 0.5em;
  margin-bottom: 15px;
  ;
}

@media(max-width: 1200px) {
  .section-about {
    flex-direction: column;
    padding-top: 0;
    height: 790px;
  }

  .section-about-text {
    width: 80%;
  }

  .section-about-text h2 {
    font-size: .8em;
  }

  .section-about-text p {
    font-size: 0.49em;
  }

}


@media(max-width: 992px) {
  .section-about-photo {
    width: 70%;
    opacity: 1;
    left: 0%;
  }

  .section-about img {
    width: 220px;
  }

  .section-about-text {
    right: 0%;
    opacity: 1;
  }

  .section-about-text h2 {
    font-size: .95em;
  }

  .section-about-text p {
    font-size: 0.52em;
  }

}

@media(max-width: 768px) {
  .section-about {
    height: 830px;
  }

  .section-about-photo {
    width: 90%;
    margin-bottom: 15px;
  }

  .section-about img {
    width: 200px;
  }

  .section-about-text {
    width: 85%;
  }

  .section-about-text h2 {
    font-size: .95em;
  }

  .section-about-text p {
    font-size: 0.6em;
  }

}


@media(max-width: 568px) {
  .section-about {
    height: 940px;
  }

  .section-about img {
    width: 190px;
  }

  .section-about-text h2 {
    font-size: 1.2em;
  }

  .section-about-text p {
    font-size: 0.7em;
  }
}



@media(max-width: 320px) {
  .section-about {
    height: 960px;
  }

  .section-about img {
    width: 180px;
  }

  .section-about-text {
    width: 88%;
  }

  .section-about-text h2 {
    font-size: 1.2em;
  }

  .section-about-text p {
    font-size: 0.71em;
  }
}

.scroll-left {
  left: 0;
  opacity: 1;
  /* transition: all 0.5s ease-in; */
  animation: animate-left 1s 
}

.scroll-right {
  right: 0;
  opacity: 1;
  /* transition: all 1s ease-in; */
  animation: animate-right 1s
}


@keyframes animate-left {
  0% {
    left: -120%
  }
  80% { 
    left: 5%
  }
  90% {
    left: -3%
  }
  100%{
    left: 0%
  }
}

@keyframes animate-right {
  0% {
    right: -120%
  }

  80% {
    right: 2%
  }

  90% {
    right: -1%
  }

  100% {
    right: 0%
  }
}