.single-feature {
  background: #EEE4E4;
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #29302E;
  font-family: 'Montserrat', 'sans serif';
  padding: 10px 10% 0 10%;
  overflow: hidden;
}

.single-feature-left,
.single-feature-right {
  width: 40%;
  height: 90%;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  position: relative;
  transition: all 0.5s linear;
}

.single-feature-left {
  left: -110%;
}

.single-feature-left h2 {
  font-size: 1em;
  text-align: left;
  margin-bottom: 20px;
}

.single-feature-left p {
  text-align: left;
  font-size: 0.6em;
  text-align: justify !important;
}

.single-feature-left span {
  font-weight: 700;
}

.single-feature-left button {
  float: left;
  width: 170px;
  height: 45px;
  background: linear-gradient(91.87deg, #0D2147 3.37%, rgba(177, 157, 95, 0.68) 99.66%);
  border-radius: 8px;
  color: #eee4e4;
  font-size: 0.55em;
  border: none
}

.single-feature-right {
  align-items: center;
  justify-content: center;
  right: -110%;
}

.single-feature-right img {
  width: 320px
}


@media(max-width: 1200px) {
  .single-feature {
    height: 300px;
  }

  .single-feature-left,
  .single-feature-right {
    width: 40%;
  }

  .single-feature-left h2 {
    font-size: 0.85em;
    margin-bottom: 10px;
  }

  .single-feature-left p {
    font-size: 0.52em;
  }

  .single-feature-left button {
    border-radius: 4px;
    width: 160px;
    height: 40px;
    font-size: 0.48em;
  }

  .single-feature-right img {
    width: 290px
  }
}


@media(max-width: 992px) {
  .single-feature {
    height: 300px;
  }

  .single-feature-left,
  .single-feature-right {
    width: 80%;
    margin: 0
  }

  .single-feature-left{
    left: 0
  }

  .single-feature-right{
    right: 0
  }

  .single-feature-left h2 {
    font-size: 0.9em;
  }

  .single-feature-left p {
    font-size: 0.6em;
  }

  .single-feature-left button {
    width: 150px;
    height: 40px;
    font-size: 0.6em;
  }

  .single-feature-right img {
    width: 290px
  }
}

@media(max-width: 768px) {
  .single-feature {
    height: 600px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .single-feature-left,
  .single-feature-right {
    width: 80%;
    margin-bottom: 20px;
    align-items: center;
  }

  .single-feature-left h2 {
    font-size: 1.1em;
    margin-bottom: 20px;
  }

  .single-feature-left p {
    font-size: 0.8em;
  }

  .single-feature-left button {
    margin-top: 15px;
    width: 160px;
    height: 45px;
    font-size: 0.68em;
  }

  .single-feature-right {
    margin-top: -20px;
    align-items: left;
    justify-content: left;
  }

  .single-feature-right img {
    width: 250px;
    margin-left: -35px;
  }
}

@media(max-width: 568px) {
  .single-feature {
    height: 600px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .single-feature-left,
  .single-feature-right {
    width: 88%;
    margin-bottom: 20px;
    align-items: center;
  }

  .single-feature-left h2 {
    font-size: 1.2em;
    margin-bottom: 20px;
  }

  .single-feature-left p {
    font-size: 0.85em;
  }

  .single-feature-left button {
    margin-top: 15px;
    width: 150px;
    height: 40px;
    font-size: 0.65em;
  }

  .single-feature-right {
    margin-top: -20px;
    align-items: left;
    justify-content: left;
  }

  .single-feature-right img {
    width: 240px;
    margin-left: -35px;
  }
}


.scroll-left {
  left: 0;
  transition: all 0.5s linear;
}

.scroll-right {
  right: 0;
  transition: all 0.5s linear;
}
