.button-link {
  position: relative;
  padding: 0 16px;
  height: 30px;
  transition: all .5s cubic-bezier(.77, 0, .175, 1);
}

.button-link:hover {
  padding: 0 30px;
  transition: all .5s cubic-bezier(.77, 0, .175, 1);
}

.button-link span {
  position: relative;
  color: #0A88AF
}

.button-link::before {
  content: '';
  top: 0;
  left: 0;
  bottom: 0;
  position: absolute;
  height: 50px;
  width: 50px;
  transform: scaleX(1);
  transform-origin: left;
  margin: auto;
  background: #B3EBFC;
  border-radius: 25px;
  transition: all .5s cubic-bezier(.77, 0, .175, 1);
}


.button-link:hover::before {
  transition: all .5s cubic-bezier(.77, 0, .175, 1);
  width: 100%;
  transform-origin: left;
}

@media (max-width: 868px) {
  .button-link {
    padding: 0 30px;
    margin: 0 auto;
    transition: none;
  }
  .button-link::before {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .button-link {
    height: 25px;
  }
}

@media (max-width: 568px) {
  .button-link {
    padding: 0 26px
  }
}