* {
  padding: 0;
  margin: 0
}

html {
  scroll-behavior: smooth;
}

.main {
  width: 100%;
  height: 100vh;
  background: #0E5267;
}

.content-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}

.body-wrapper {
  width: 100%;
  position: absolute;
  min-height: 100vh;
  z-index: 350;
}

.scroll-body {
  width: 100%;
  min-height: 100vh;
  position: absolute;
  z-index: 300;
  background: #F4F4F4;
}

.scroll-container {
  width: 100%;
  position: absolute;
  z-index: 400;
  min-height: 100vh;
  background: #F4F4F4;
}




hr {
  width: 280px;
  margin: 2em auto;
  border-top: 2px solid #E0E0E0;
}

@media (max-width: 968px) {
  hr {
    width: 240px;
  }
}

@media (max-width: 768px) {
  hr {
    width: 200px;
  }
}

@media (max-width: 568px) {
  hr {
    width: 160px;
  }
}

@media (max-width: 468px) {
  hr {
    width: 120px;
  }
}

@media (max-width: 368px) {
  hr {
    width: 90px;
  }
}