

.front-slider, .back-slider {
  height: 100vh;
  position: fixed;
  width: 100%;
  z-index: 500;
}

.back-slider {
  z-index: 200;
}

.front-slider-wrapper, .back-slider-wrapper {
  float: right;
  height: 100vh;
  overflow: hidden;
  width: 100%;
}

.front-slider-content, .back-slider-content {
  background: #041D25;
  float: right;
  height: 100vh;
  width: 100vw;
}

.front-slider-content span, .back-slider-content span {
  color: #006383;
  font-weight: 500;
  letter-spacing: 0.4em;
}