
.social-icon {
  height: 46px;
  perspective: 1000px;
  position: relative;
	transform-style: preserve-3d;
  width: 46px;
}

.social-icon .icon-front,
.social-icon .icon-back,
.hit-me li a .social-icon .icon-front 
.hit-me li a .social-icon .icon-back {
  align-items: center;
  backface-visibility: hidden;
  bottom: 0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;

  transform-style: preserve-3d;
  transition: transform 0.5s;
  transition-timing-function: cubic-bezier(0.6, -0.05, 0.01, 0.99);
}

.social-icon .icon-front {
  border: 1px solid #04C2FF;
}

.social-icon .icon-back {
  border: 1px solid #04C2FF;
  transform: rotateY(180deg);
}

.social-icon:hover .icon-front, .hit-me li a:hover .icon-front {
  transform: rotateY(-180deg);
}

.social-icon:hover .icon-back, .hit-me li a:hover .icon-back {
  transform: rotateY(0deg);
}

.social-icon .contents {
  color: #fff;
  text-align: center;
  transform: translateZ(20px);
}

.social-icon .contents svg {
  height: 46px;
  width: 46px;
}

@media (max-width: 1268px) {
  .social-icon, .social-icon .contents, .social-icon .contents svg {  
    height: 42px;
    width: 42px;
  }
}

@media (max-width: 1068px) {
  .social-icon, .social-icon .contents, .social-icon .contents svg {
    height: 38px;
    width: 38px;
  }
}

@media (max-width: 768px) {
  .social-icon, .social-icon .contents, .social-icon .contents svg {
    height: 34px;
    width: 34px;
  }
}
