

.notfound-wrapper {
  width: 100%;
  height: 100vh;
  background-size: cover;
}

.notfound-backer {
  width: 100%;
  height: 100vh;
  background: rgba(22,114,143,0.3);
}

.notfound-backer h1 {
  margin-bottom: 10px;
  color: #FFC01D;
  font-weight: 600;
}

.notfound-backer p {
  text-align: center;
  color: #FFFFFF;
  width: 320px;
  margin-bottom: 65px;
}


.notfound-backer a {
  cursor: pointer;
  font-weight: 300;
  padding: 10px 24px;
  border-radius: 30px;
  color: #FFFFFF;
  background: #16728F;
  transition: all 0.15s ease-in;
}

.notfound-backer a:hover {
 transition: all 0.15s ease-in;
 box-shadow: 0px 0px 6px rgb(151, 230, 255)
}

@media screen and (max-width: 896px) and (orientation: landscape) {
  .notfound-wrapper, .notfound-backer {
    height: 650px;
  }
}

@media(max-width: 868px) {
  .notfound-backer p {
    margin-bottom: 55px;
    width: 290px;
  }
}

@media(max-width: 568px) {
  .notfound-backer p {
    width: 270px;
  }
}