
.edu-main {
  min-height: 2em;
  padding: 6em 0 2em 0;
  width: 100%;
}

.edu-wrapper {
  width: 650px;
  margin: 0 auto;
}

.edu-header h2 {
  color: #004E66;
  font-weight: 600;
  margin-bottom: .5em;
}

.edu-header span {
  color: #04C2FF;
  display: block;
  font-weight: 300;
  line-height: 2em;
}

.course-wrapper {
  flex-direction: row-reverse;
  justify-content: space-between;
  margin: 5em 0 6em 0;
}

.course-img, .course-img img{
  width: 160px;
  margin-bottom: .3em;
}

.course-img div {
  height: 160px;
  overflow: hidden;
  width: 160px;
}

.course-img span {
  color: rgb(170,170,170);
  display: block;
  font-weight: 300;
  text-align: center;
}

.course-desc {
  width: 450px;
}

.course-desc h4 {
  color: #0A88AF;
  font-weight: 600;
  margin-bottom: .5em;
}

.course-desc .school {
  color: #D79D09;
  display: block;
  margin-bottom: .5em;
}

.year {
  color: #04C2FF;
  font-weight: 300;
}


@media (max-width: 1468px) {
  .edu-wrapper {
    width: 600px;
  }
  .course-desc {
    width: 400px;
  }
}

@media (max-width: 1168px) {
  .edu-wrapper {
    width: 550px;
  }
  .course-wrapper {
    margin: 4.5em 0 5.5em 0;
  }
  .course-img, .course-img img{
    width: 130px;
  }
  .course-img div {
    width: 130px;
    height: 130px;
  }
  .course-desc {
    width: 380px;
  }
}

@media (max-width: 968px) {
  .edu-wrapper {
    width: 500px;
  }
  .course-img, .course-img img{
    width: 110px;
  }
  .course-img div {
    width: 110px;
    height: 110px;
  }
}

@media (max-width: 668px) {
  .edu-wrapper {
    width: 70%;
  }
  .edu-header h2 {
    margin-bottom: 1em;
  }
  .edu-header .quote{
    margin-bottom: .5em;
    text-align: center;
  }
  .course-wrapper {
    flex-direction: column;
    justify-content: center;
    margin: 6em 0 8em 0;
  }
  .course-wrapper:last-child {
    margin-bottom: 3em;
  }
  .course-img, .course-img img{
    width: 130px;
  }
  .course-img div {
    height: 130px;
    width: 130px;
  }
  .course-desc {
    margin-top: 1em;
    text-align: center;
    width: 280px;
  }
}
