

.reads {
  min-height: 115vh;
}

.books-container {
  min-height: 230px;
  width: 680px;
  margin-top: 50px;
}

.books-container figure {
  background: #1F6562;
  width: 150px;
  height: 100%;
  float: left;
  margin: 10px;
}

.books-container figure img {
  width: 100%;
  border-radius: 3px;
}

.follow-reads {
  margin-top: 30px
}

.reads article {
  margin-top: 10px;
}


.reads article a {
  text-decoration: none;
  color: #1F6562;
}



@media screen and (max-width: 896px) and (orientation: landscape) {
  .reads {
    height: 1000px;
  }
}


@media (max-width: 1068px) {
  .books-container {
    width: 620px;
    min-height: 207px;
  }

  .books-container figure {
    width: 135px
  }

  .reads article {
    margin-top: 20px;
  }
}

@media (max-width: 968px) {
  .books-container {
    width: 580px;
    min-height: 192px;
  }

  .books-container figure {
    width: 125px
  }

  .reads article {
    margin-top: 10px;
  }
}

@media (max-width: 868px) {
  .books-container {
    width: 552px;
    min-height: 181px;
  }

  .books-container figure {
    width: 118px
  }
}


@media (max-width: 768px) {
  .reads {
    height: 1300px;
  }
  .books-container {
    width: 340px;
    /* background: red; */
    min-height: 130px;
  }

  .books-container figure {
    width: 150px
  }

  .reads article {
    margin-top: 10px;
  }
}



@media (max-width: 568px) {
  .reads {
    height: 1250px;
  }

  .books-container {
    width: 290px;
    /* background: red; */
    min-height: 192px;
  }

  .books-container figure {
    width: 125px
  }

  .reads article {
    margin-top: 10px;
  }
}



























.one, .two, .three {
  height: 100vh;
  width: 100%
}

.one {
  background: paleturquoise;
}

.two {
  background: pink;
}

.three {
  background: peru;
}
