.header-text {
  width: 60%;
  height: calc(100vh - 150px);
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  font-family: 'Montserrat';
}

.header-text-container {
  opacity: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat';
  transition: all 0.7s linear;
}

.loadText {
  opacity: 1;
  transition: all 0.7s linear
}

.header-text h1 {
  text-shadow: 5px 5px 5px #3e4249;
  font-size: 2.2em;
  /* background: orange; */
}

.header-text .text-highlight {
  color: #2b4662;
  font-size: 4.7em;
  font-weight: 600;
  text-shadow: 5px 5px 3px #B19D5F;
  margin-bottom: 30px;
}


@media(max-width: 1200px) {
 .header-text h1 {
   font-size: 1.9em;
 }
 .header-text .text-highlight {
   font-size: 4.4em;
 }
}

@media(max-width: 992px) {
  .header-text h1 {
    font-size: 1.6em;
  }

  .header-text .text-highlight {
    font-size: 4.1em;
  }
}


@media(max-width: 768px) {
  .header-text h1 {
    font-size: 1.3em;
    text-shadow: 3px 3px 3px #3e4249;
    margin-bottom: 0px;
  }
  .header-text-container {
    opacity: 0;
    transition: all 0.6s linear
  }
  .loadText {
    opacity: 1;
    transition: all 0.7s linear
  }

  .header-text .text-highlight {
    font-size: 3.8em;
    text-shadow: 3px 3px 2px #B19D5F;
    margin-bottom: 15px;
  }
  
}
