
.footer-copyright {
  background: #0E5267;
  height: 6.3em;
}

.footer-copyright .copyright-wrapper{
  justify-content: center;
  margin-bottom: 10px;
}


.footer-copyright .privacy {
  margin-top: 5px;
}