
.footer-wrapper {
  background: #116783;
  clip-path: polygon(0 0, 100% 100px, 100% 100%, 0 100%);
  min-height: 3em;
  padding-top: 140px;
  width: 100%;
}

.footer-wrapper .header-wrapper {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
}

.lets-work {
  height: 400px;
  padding-left: 5%;
  width: 45%;
}

.lets-work h3 {
  color: #FFC01D;
  font-weight: 600;
  letter-spacing: -0.04em;
  margin-bottom: 0.4em;
}

.lets-work p {
  color: #59ACC6;
  font-weight: 500;
  line-height: 1.8em;
  margin-bottom: 4.5em;
  width: 20em;
}

.lets-work a {
  background: #0E5267;
  border-radius: 30px;
  color: #6DB4CA;
  padding: 15px 28px;
  transition: all 0.25s ease-in;
}

.lets-work a:hover {
  box-shadow: 0px 0px 6px rgb(151,230,255);
  color: #FFCB45;
  transition: all 0.25s ease-in;
}

.hit-me {
  height: 400px;
  padding-left: 20%;
  width: 30%;
}

.hit-me h3 {
  color: #FFC01D;
  font-weight: 600;
  letter-spacing: -0.04em;
  margin-bottom: 0.9em;
}

.hit-me ul {
  list-style: none;
}

.hit-me ul li{
  height: 38px;
  margin-bottom: 25px;
  width: 180px;
}

.hit-me li a{
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 38px;
  justify-content: flex-start;
}

.hit-me .svg-wrapper {
  height: 38px;
  width: 38px;
}

.svg-wrapper .social-icon, .svg-wrapper .social-icon svg, 
.svg-wrapper .social-icon .contents {
  height: 38px;
  width: 38px;
}

.hit-me li a span:nth-child(2) {
  color: #8BB4C0;
  margin-left: 15px;
  transition: all 0.35s ease-in;
}

.hit-me li a:hover span {
  color: #FFCB45;
  transition: all 0.35s ease-in;
}

@media (max-width: 1468px) {
  .footer-wrapper {
    clip-path: polygon(0 0, 100% 80px, 100% 100%, 0 100%);
    padding-top: 120px;
  }
  .lets-work p {
    margin-bottom: 4em;
  }
  .hit-me ul li{
    margin-bottom: 20px;
  }
}

@media (max-width: 1168px) {
  .footer-wrapper {
    clip-path: polygon(0 0, 100% 60px, 100% 100%, 0 100%);
    padding-top: 100px;
  }
  .lets-work, .hit-me {
    height: 360px;
  }
  .hit-me ul li{
    margin-bottom: 15px;
  }
}

@media (max-width: 868px) {
  .footer-wrapper {
    clip-path: polygon(0 0, 100% 40px, 100% 100%, 0 100%);
    padding-top: 80px;
  }
}

@media (max-width: 768px) {
  .footer-wrapper .header-wrapper {
    flex-direction: column;
  }
  .lets-work {
    height: 280px;
    padding-left: 0;
    width: 75%;
  }
  .hit-me {
    padding-left: 0%;
    width: 75%;
  }
}

@media (max-width: 568px) {
  .lets-work, .hit-me {
    width: 80%;
  }
}

@media (max-width: 468px) {
  .lets-work {
    width: 90%;
  }
  .hit-me {
    width: 90%;
  }
}

@media (max-width: 368px) {
  .lets-work, .hit-me {
    width: 95%;
  }
  .lets-work p {
    width: 100%;
  }
}