
/* my essentials */
.my-essentials {
  height: 100vh;
  width: 100%;
  background: white
}

.my-essentials-container {
  position: relative;
  top: -50px;
  width: inherit;
  height: inherit;
  /* background: url('./assets/background1.png') no-repeat ; */
  /* background-size: cover; */

}

.essential-icons {
  height: 420px;
  /* background: orange; */
}

.essential-icons ul{
  width: 100%;
  height: 100%;
  /* background: orangered; */
  padding: 0;
  list-style: none;
}

.essential-icons ul li{
  width: 25%;
  height: 50%;
  /* background: teal; */
  padding: 0;
  float: left;
  list-style: none;
}

.essential-icons figure {
  width: 50%;
  height: 50%;
  /* background: peru; */
}

.essential-icons figure img{
  width: 100%;
}


@media (max-width: 1268px) {
  .essential-icons {
    /* background: orangered; */
    height: 450px;
  }
}

@media (max-width: 1168px) {
  .essential-icons {
    height: 400px;
  }
}

@media (max-width: 1068px) {
  .essential-icons {
    height: 350px;
  }
}

@media (max-width: 968px) {
  .essential-icons {
    height: 310px;
  }

}

@media screen and (max-width: 896px) and (orientation: landscape) {
  .my-essentials {
    height: 780px;
  }

}


@media (max-width: 868px) {
  .essential-icons {
    height: 280px
  }
}

@media (max-width: 768px) {
  .my-essentials-container {
    top:0
  }
  .essential-icons {
    margin-top: 40px;
    height: 250px
  }
  .essential-icons figure {
    width: 70%;
    height: 70%;
  }
}

@media (max-width: 668px) {
  .my-essentials {
    height: 110vh;
  }
  .essential-icons {
    height: 220px
  }
  .essential-icons figure {
    width: 75%;
    height: 75%;
  }
  
}


@media screen and (max-width: 668px) and (orientation: landscape) {
  .my-essentials {
    height: 740px;
  }
  .essential-icons {
    margin-top: 20px; 
  }
}

@media screen and (max-width: 568px) and (orientation: landscape) {
  .my-essentials {
    height: 650px;
  }
}