

.samp {
  width: 100%;
  height: 100vh;
  background: red;
}
.samp1 {
  width: 100%;
  height: 100vh;
  background: teal;
}

.samp2 {
  width: 100%;
  height: 100vh;
  background: yellow;
}

.samp3 {
  width: 100%;
  height: 100vh;
  background: pink;
}


/* media queries when mobile screen is on mobile */
@media screen and (max-width: 1024px) and (max-height: 768px) and (orientation: landscape) {
  .what-i-can-do {
    height: 1000px;
  }
}

@media screen and (max-width: 896px) and (orientation: landscape) {
  .container {
    height: 720px;
  }

  .what-i-can-do {
    height: 900px;
  }

  .header {
    height: 720px;
  }

  .navbar,
  .faceAnim,
  .background {
    min-height: 720px;
  }

  .slide-navbar,
  .slide-menu-layover {
    min-height: 720px;
  }

  .slide-down-button {
    height: 60px;
    margin-top: calc(780px - 230px);
  }
}





