
.github-projects {
  min-height: 10em;
  padding: 5em 0 5em 0;
  width: 100%;
}

.github-projects h2 {
  color: #126985;
  font-weight: 600;
  margin-bottom: .5em;
}

.github-projects p {
  color: #04C2FF;
  font-weight: 400;
  letter-spacing: 0.04em;
  line-height: 1.8em;
  margin-bottom: 60px;
  text-align: center;
  width: 670px;
}

.github-projects p a {
  color: #858585;
  transition: all 0.2s ease-in;
}

.github-projects p a:hover {
  color: #FFC01D;
  transition: all 0.2s ease-in;
}

.github-projects ul {
  min-width: 100px;
}

.github-projects ul li {
  height: 55px;
  flex-direction: row;
  justify-content: flex-start;
}

.number {
  color: #858585;
  font-weight: 700;
  margin-right: 25px;
}

.proj-title {
  color: #2497BC;
  position: relative;
}

.github-projects a {
  flex-direction: row;
}

.github-projects .proj-title::after {
  background: #2497BC;
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
}

.github-projects .proj-title::after {
  border-radius: 1px;
  bottom: 0px;
  left: 0;
  width: 100%;

  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.6s;
}

.github-projects a:hover .proj-title::after {
  transform: scaleX(1);
  transform-origin: left;
}

/* folder */
 .folder {
  transition: all 0.15s ease-in;
  margin-right: 20px;
}
 .folder__back {
  background: #EEB00F;
  border-radius: 0px 3px 3px 3px;
  height: 19px;
  position: relative;
  width: 24px;
}
 .folder__back::after {
  background: #EEB00F;
  bottom: 98%;
  border-radius: 3px 3px 0 0;
  content: "";
  height: 4px;
  left: 0;
  position: absolute;
  width: 10px;
}
 .folder__back .paper {
  background: #e6e6e6;
  border-radius: 3px;
  bottom: 10%;
  height: 80%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, 10%);
  transition: all 0.3s ease-in-out;
  width: 83%;
}

.folder__back .folder__front {
  background: #FFCF56;
  border-radius: 3px;
  bottom: 0;
  height: 85%;
  position: absolute;
  transition: all 0.15s ease-in-out;
  transform-origin: bottom;
  width: 100%;
}

a:hover .folder {
  transform: translateY(2px);
}
a:hover .folder .paper {
  transform: translate(-50%, 0%);
}
a:hover .folder .folder__front {
  transform: skew(15deg) scaleY(0.6);
}
a:hover .folder .right {
  transform: skew(-15deg) scaleY(0.6);
}
 




@media (max-width: 1268px) {
  .github-projects p {
    width: 620px;
  }
}

@media (max-width: 968px) {
  .github-projects p {
    margin-bottom: 45px;
    width: 580px;
  }
}

@media (max-width: 768px) {
  .github-projects {
    padding: 5em 0 4em 0;
  }
  .github-projects p {
    margin-bottom: 40px;
    width: 540px;
  }
  .github-projects ul li {
    height: 50px;
  }
}

@media (max-width: 668px) {
  .github-projects p {
    margin-bottom: 40px;
    width: 480px;
  }
}

@media (max-width: 568px) {
  .github-projects {
    padding: 5em 0 5em 0;
  }
  .github-projects p {
    width: 440px;
  }

}

@media (max-width: 468px) {
  .github-projects p {
    width: 90%;
  }
  .number {
    margin-right: 15px;
  }
  .folder {
    margin-right: 10px;
  }
}

@media (max-width: 368px) {
  .github-projects p {
    width: 95%;
  }
  .github-projects ul li {
    height: 50px;
  }
}