.webdev-wrapper {
  background: #F4F4F4;
  min-height: 500px;
  padding-top: 6em;
  width: 100%;
}

.webdev-title {
  font-weight: 600;
  color: #16728F;
  margin-top: 4em;
}

.webdev-caption {
  color: #04C2FF;
  font-weight: 400;
  letter-spacing: 0.14em;
  line-height: 2em;
  margin-bottom: 2.5em;
}

@media (max-width: 968px) {
  .webdev-title {
    margin-top: 3em;
  }
}

@media (max-width: 768px) {
  .webdev-title {
    margin-top: 2.5em;
  }
}

@media (max-width: 568px) {
  .webdev-wrapper {
    padding-top: 5em;
  }
  .webdev-title {
    text-align: center;
    margin-top: 2em;
    width: 95%;
  }
  .webdev-caption {
    margin-bottom: 1.5em;
    margin-top: 8px;
    text-align: center;
    width: 95%;
  }
}
