
.all-artwork {
  min-height: 10em;
  position: relative;
  width: 100%;
}

.art-desc {
  background: rgba(210,210,210,0.04);
  height: 18em;
  width: 100%;
}

.art-desc h2 {
  color: #A07500;
  font-weight: 600;
}

.art-desc p {
  color: #E5B22A;
  line-height: 2em;
}

.art-desc a {
  flex-direction: row;
  margin-top: 2em;
  position: relative;
}

.art-desc a span {
  color: #C3B89B;
  margin-right: 8px;
}

.art-desc a svg {
  width: 25px;
  height: 25px;
}

.art-desc a::after {
  background: linear-gradient(90deg, #FFC01D 0%, #C4372F 55.73%, #8E04B0 100%);
  content: '';
  height: 2px;
  position: absolute;
  width: 100%;
}

.art-desc a::after {
  bottom: -7px;
  border-radius: 1px;
  left: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.6s;
  width: 100%;
}

.art-desc a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.art-img {
  height: 85vh;
  overflow: hidden;
  width: 100%;
}

.art-img-wrapper {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 85vh;
  justify-content: center;
  overflow: hidden;
  width: 100vw;
}

.art-img-wrapper img {
  transition: all 0.25s ease-in;
  width: 540px;
}

.art-img-wrapper img:hover {
  filter: drop-shadow(7px 7px 7px #fff);
  transition: all 0.25s ease-in;
}

.art-img:last-child {
  margin-bottom: 6em;
}

@media(max-width: 968px) {
  .art-img-wrapper img {
    width: 510px;
  }
}

@media screen and (max-width: 896px) and (orientation: landscape) {
  .art-img, .art-img-wrapper {
    height: 760px;
  }
}


@media(max-width: 868px) {
  .art-desc h2, .art-desc p {
    text-align: center;
    width: 92%;
  }
  .art-img-wrapper img {
    width: 490px;
  }
}

@media(max-width: 768px) {
  .art-img-wrapper img {
    width: 460px;
  }
}

@media(max-width: 668px) {
  .art-img-wrapper img {
    width: 430px;
  }

}

@media(max-width: 568px) {
  .art-img-wrapper img {
    width: 86%;
  }
}


@media(max-width: 468px) {
  .art-img-wrapper img {
    width: 90%;
  }
}