.photo {
  width: 335px;
  height: 452px;
}

.intro-image-container {
  width: 335px;
  height: 452px;
}

.intro-image-container svg {
  width: 350px;
  height: 452px;
}

.intro-image-container .one {
  position: absolute;
  z-index: 15;
}

.intro-image-container .two {
  position: absolute;
  z-index: 20;
}

.intro-image-container .three {
  position: absolute;
  z-index: 25;
}

.intro-image-container .four {
  position: absolute;
  z-index: 30;
}

.intro-image-container .five {
  position: absolute;
  z-index: 35;
}

.intro-image-container .six {
  position: absolute;
  z-index: 40;
}

.intro-image-container .seven {
  position: absolute;
  z-index: 45;
}




/* screen size 768px */
@media(max-width: 768px) {
  .intro-image-container,
  .photo,
  .photo svg {
    width: 290px;
    height: 392px;
  }
  .text_intro {
    width: 340px;
    height: 70px;
  }
  .text_intro h1 {
    font-size: 2.2em;
  }
  .text_intro h2 {
    font-size: 0.75em;
  }
  .button_intro {
    width: 220px;
  }
}

@media(max-width: 568px) {
  .intro-image-container,
  .photo, .photo svg {
    width: 250px;
    height: 338px;
  }
  .text_intro {
    width: 320px;
    height: 70px;
  }
  .text_intro h1 {
    font-size: 1.9em;
  }
  .text_intro h2 {
    font-size: 0.7em;
  }
  .button_intro {
    width: 200px;
  }
}

@media(max-width: 320px) {
  .intro-image-container,
  .photo,
  .photo svg {
    width: 210px;
    height: 284px;
  }
  .text_intro {
    width: 270px;
    height: 60px;
  }
  .text_intro h1 {
    line-height: 32px;
    font-size: 1.7em;
  }
  .text_intro h2 {
    font-size: 0.6em;
  }
}
