

.header-socials {
  position: absolute;
  list-style: none;
  top: 48vh;
  right: 0
}

.header-socials li {
  margin: 10px 0;
  width: 46px;
  height: 46px;
  overflow: hidden;
}

@media (max-width: 1268px) {
  .header-socials li {
    width: 42px;
    height: 42px;
  }
}

@media (max-width: 1068px) {
  .header-socials li {
    width: 38px;
    height: 38px;
  }
}

@media (max-width: 768px) {
  .header-socials li {
    width: 34px;
    height: 34px;
  }
}

@media (max-width: 600px) {
  .header-socials {
    display: none;
  }
}
