
.scroll-down {
  position: absolute;
  left: 50%;
  bottom: 7vh;
  opacity: 1;
  transition: all 0.5s ease-in;
  transform: translateX(-50%);
}

.scroll-down-container {
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.arrow-down {
  position: absolute;
  bottom: 0;
  margin-left: 0px;
  width: 20px;
  height: 20px;
  background-size: contain;
  top: 0px;
  background-image: url('/images/arrowdown.svg');
}

.second-arrow {
  margin-top: 10px
}

@keyframes bounceAlpha {
  0% {opacity: 1; transform: translateY(0px) scale(1);}
  25%{opacity: 0; transform:translateY(10px) scale(0.9);}
  26%{opacity: 0; transform:translateY(-10px) scale(0.9);}
  55% {opacity: 1; transform: translateY(0px) scale(1);}
}

.bounceAlpha {
  animation-name: bounceAlpha;
  animation-duration: 2.4s;
  animation-iteration-count:infinite;
  animation-timing-function:linear;
}

.arrow-down.first-arrow.bounceAlpha {
  animation-name: bounceAlpha;
  animation-duration: 2.4s;
  animation-delay:0.2s;
  animation-iteration-count:infinite;
  animation-timing-function:linear;
}

.scroll-down-container .arrow-down{
  animation-name: bounceAlpha;
  animation-duration: 2.4s;
  animation-iteration-count:infinite;
  animation-timing-function:linear;
}
.scroll-down-container .arrow-down.first-arrow{
  animation-name: bounceAlpha;
  animation-duration: 2.4s;
  animation-delay:0.2s;
  animation-iteration-count:infinite;
  animation-timing-function:linear;
}

.hide-arrow {
  opacity: 0;
}

@media (max-width: 1268px) {
  .scroll-down-container, .arrow-down {
    width: 16px;
    height: 16px;
  }
  .second-arrow {
    margin-top: 8px
  } 
}


@media (max-width: 968px) {
  .scroll-down-container, .arrow-down {
    width: 12px;
    height: 12px;
  }
  .second-arrow {
    margin-top: 6px
  } 
}

@media (max-width: 768px) {
  .scroll-down {
    display: none;
  }
}