* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', Helvetica, Verdana;
  letter-spacing: -0.05em;
  font-weight: 600;
}

.container {
  width: 100%;
  height: 100vh;
  /* overflow: hidden; */
} 

/* set container screen to 720px when screen is on portrait */
@media screen and (max-width: 896px) and (orientation: landscape) {
  .container {
    height: 720px;
  }
}

/* global class to center elements */
.content-center{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-container {
  width: 1600px;
  height: 100vh;
  margin: 0 auto;
}


























































































.div {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  background: gray;
}

.one {
  background: lightyellow;
}

.two {
  background: lightblue;
}