
.my-skills {
  width: 100%;
  min-height: 100vh;
  background: #1F6562
}


.my-skills-container {
  width: inherit;
  padding: 150px 0 190px 0;
  height: inherit;
}


.skill-wrapper {
  height: 450px;
  margin-top: 50px;
  padding: 30px 0;
  background: rgba(230, 230, 230, 0.03);
}

.skill-list {
  margin: 0 auto;
  width: 910px;
  height: 450px;
  list-style: none;
}

.skill-list li {
  width: 120px;
  height: 120px;
  margin: 10px 5px 20px 5px;
  float: left;
}

.skill-list span {
  color: #DBDAC7;
  font-family: 'Open Sans';
  font-size: 0.8em;
}


@media (max-width: 1268px) {
  .skill-list {
    width: 874px;
  }

  .skill-list li {
    width: 114px;
    height: 114px;
  }
}

@media (max-width: 1168px) {
  .skill-wrapper {
    height: 600px;
  }

  .skill-list {
    width: 794px;
    height: 600px;
  }

  .skill-list li {
    width: 122px;
    height: 122px;
  }
}

@media (max-width: 1068px) {
  .skill-list {
    width: 714px;
  }

  .skill-list li {
    width: 109px;
    height: 109px;
  }
}

@media (max-width: 968px) {
  .skill-wrapper {
    height: 750px;
  }

  .skill-list {
    width: 654px;
    height: 750px;
  }

  .skill-list li {
    width: 120px;
    height: 120px;
  }
}

@media (max-width: 868px) {
  .skill-wrapper {
    height: 650px;
  }

  .skill-list {
    width: 554px;
    height: 650px;
  }

  .skill-list li {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 668px) {
  .skill-wrapper {
    padding: 0;
    height: 900px;
  }

  .skill-list {
    width: 100%;
    height: 900px;
  }

  .skill-list li {
    width: 120px;
    height: 120px;
  }

  .skill-list img {
    width: 55%;
  }
}

@media (max-width: 568px) {
  .skill-wrapper {
    height: 1000px;
  }

  .skill-list {
    height: 1000px;
  }

  .skill-list li {
    width: 130px;
    height: 110px;
  }

  .skill-list img {
    width: 50%;
  }

  .skill-list span {
    font-size: 0.75em;
  }
}

@media (max-width: 468px) {
  .skill-wrapper {
    height: 1440px;
  }

  .skill-list {
    height: 1440px;
  }

  .skill-list li {
    width: 150px;
    height: 100px;
  }

  .skill-list img {
    width: 45%;
  }
}

@media (max-width: 368px) {
  .skill-wrapper {
    height: 1320px;
  }

  .skill-list {
    height: 1320px;
  }

  .skill-list li {
    width: 130px;
    height: 90px;
  }

  .skill-list img {
    width: 45%;
  }
}