.modal-container {
  height: 100vh;
  position: fixed;
  z-index: 1100;
  width: 100%;
}

.modal-background {
  background: rgba(64,64,64,0.95);
  height: 100%;
  position: relative;
  width: 100%;
}

.modal-image-wrapper{
  height: 100vh;
  position: absolute;
  width: 100%;
}

.modal-image {
  background-position: 50% 50%;
  border-radius: 5px;
  cursor: zoom-in;
  height: auto;
  overflow: hidden;
  position: relative;
  width: 520px;
}

.modal-image img:hover {
  opacity: 0;
}

.modal-image img {
  display: block;
  transition: opacity 0.5s;
  width: 100%;
}

.image-caption {
  margin-top: 25px;
  width: 520px;
}

.image-caption h4 {
  color: #04C2FF;
  font-weight: 500;
}

.image-caption span {
  color: #C8C8C8;
  display: block;
  margin-top: 10px;
  text-align: center;
  font-weight: 400;
}

.modal-svg-wrapper, .modal-svg-wrapper button, .modal-svg-wrapper svg {
  height: 42px;
  width: 42px;
}

.modal-svg-wrapper {
  margin-top: 40px;
}

.modal-svg-wrapper button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.modal-svg-wrapper button:focus {
  outline: none;
}

.modal-next-btn, .modal-prev-btn {
  cursor: pointer;
  height: 32px;
  position: absolute;
  top: calc(50% -16px);
  width: 32px;
  z-index: 5;
}

.modal-next-btn svg, .modal-prev-btn svg{
  height: 32px;
  width: 32px;
}

.modal-next-btn {
  right: 10vw;
}

.modal-prev-btn {
  left: 10vw;
}

.swipe-wrapper {
  position: absolute;
  flex-direction: row;
  top: 11vh;
  z-index: 10;
}

.swipe-wrapper span {
  color: #04C2FF;
  margin: 0 5px;
}



@media (max-width: 1468px) {
  .modal-image, .image-caption {
    width: 470px;
  }
  .modal-next-btn {
    right: 120px;
  }
  .modal-prev-btn {
    left: 120px;
  }
}

@media (max-width: 1268px) {
  .modal-svg-wrapper, .modal-svg-wrapper button, .modal-svg-wrapper svg {
    height: 38px;
    width: 38px;
  }
  .modal-next-btn, .modal-prev-btn, .modal-next-btn svg, .modal-prev-btn svg{
    height: 28px;
    width: 28px;
  }
  .modal-next-btn {
    right: 95px;
  }
  .modal-prev-btn {
    left: 95px;
  }
  .swipe-wrapper {
    top: 9vh;
  }
}

@media (max-width: 1068px) {
  .modal-image, .image-caption {
    width: 420px;
  }
  .modal-next-btn {
    right: 85px;
  }
  .modal-prev-btn {
    left: 85px;
  }
  .swipe-wrapper {
    top: 8vh;
  }
}

@media screen and (max-width: 896px) and (orientation: landscape) {
  .modal-container, .modal-image-wrapper {
    height: 700px;
  }
}

@media (max-width: 868px) {
  .modal-image, .image-caption {
    width: 400px;
  }
  .modal-next-btn {
    right: 60px;
  }
  .modal-prev-btn {
    left: 60px;
  }
}

@media (max-width: 768px) {
  .modal-next-btn {
    right: 50px;
  }
  .modal-prev-btn {
    left: 50px;
  }
}

@media (max-width: 668px) {
  .modal-image {
    border-radius: 0px;
    width: 380px;
  }
  .image-caption {
    margin-top: 15px;
    width: 380px;
  }
  .modal-next-btn {
    right: 40px;
  }
  .modal-prev-btn {
    left: 40px;
  }
}

@media (max-width: 568px) {
  .modal-next-btn, .modal-prev-btn {
    display: none;
  }
}

@media (max-width: 468px) {
  .modal-image, .image-caption {
    width: 90%;
  }
}

@media (max-width: 368px) {
  .modal-image, .image-caption {
    width: 95%;
  }
}
