* {
  padding: 0;
  margin: 0
}

.main {
  width: 100%;
  height: 100vh;
  background: #0E5267;
}

.content-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


.scroll-body {
  width: 100%;
  min-height: 100vh;
  position: fixed;
  z-index: 300;
}

.scroll-container {
  width: 100%;
  position: absolute;
  z-index: 400;
  min-height: 100vh;
}









.one {
  background: yellow;
}

.two {
  background: papayawhip;
}

.three {
  background: lightskyblue;
}






.one1 {
  background: rgb(190,190,190);
  /* background: #0E5267; */
}

.body-wrapper {
  width: 100%;
  position: fixed;
  min-height: 100vh;
  z-index: 350;
}





.backer {
  z-index: 200;
  top: 0;
  
}



body {
  overscroll-behavior-y: none;
}


body {
  overflow-x: hidden;
}

img {
  /* width: 180px; */
  height: auto;
}

p {
  width: 300px;
  font-size: 1.2em;
  margin: 15px;
  text-align: center;
  /* font-family: Georgia, 'Times New Roman', Times, serif; */
}



.two2 {
  background: cornflowerblue;
}


.nav {
  width: 100%;
  height: 100vh;
  background: rgba(220,220,220,1);
  position: fixed;
  z-index: 1000;

}

/* menu */
/* menu */
.btn-wrapper {
  position: fixed;
  right: 120px;
  top: 70px;
  z-index: 800;
}

.btn-wrapper span{
  background: none;
  border: none;
  /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
  font-size: 1.5em;
  color: #1890B5;
  mix-blend-mode: difference;
}

.btn-wrapper span:hover {
  color: red;
  cursor: pointer;
}



.menu-wrapper {
  width: 0%;
  height: 100vh;
  position: fixed;
  z-index: 700;
  background: orange;
  overflow: hidden;
}

.menuwrap {
  width: calc(100vw - 17px);
  height: 100vh;
  background: orange;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menuwrap a {
  text-decoration: none;
  font-size: 2em;
  /* font-family: Georgia, 'Times New Roman', Times, serif; */
  font-weight: 800;
}




.parallax {
  background-image: url("/images/aaaa.jpg");
  /* background-attachment: fixed; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2000;
  position: relative;
}


.sample-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
}

