* {
  padding: 0;
  margin: 0
}

span {
  background: #003B4D;
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-bottom: 10px
}

span svg {
  width: 100%;
  height: 100%;
}