.intro-logo {
  width: 100%;
  height: 100vh;
}


.intro-logo svg {
  width: 550px;
}


.text-logo,
.inner-shadow {
  opacity: 0;
}


.border {
  stroke: #377370;
}

.letters .green {
  color: #2F8581;
}


@media (max-width: 868px) {
  .intro-logo svg {
    width: 490px;
  }
}

@media (max-width: 768px) {
  .intro-logo svg {
    width: 450px;

  }
}

@media (max-width: 668px) {
  .intro-logo svg {
    width: 410px;
  }
}

@media (max-width: 568px) {
  .intro-logo svg {
    width: 370px;
  }
}

@media (max-width: 468px) {
  .intro-logo svg {
    width: 330px;
  }
}

@media (max-width: 368px) {
  .intro-logo svg {
    width: 280px;
  }
}
