
.navigation-logo {
  height: 50px;
  position: fixed;
  top: 58px;
  width: 50px;
  z-index: 800;
}

.menu-logo-container {
  height: 100%;
  width: 100%;
}

.menu-logo-container a {
  height: 100%;
  width: 100%;
}                                                 

.aiman-logo {
  height: 100%;
  width: 100%;
}

.logo-line-1 {
  animation: line-1 3s ease-in forwards infinite;
  stroke-dasharray: 490;
  stroke-dashoffset: 490;
  -webkit-animation: line-1 3s ease-in forwards infinite;
}

.logo-line-2 {
  animation: line-2 3s ease-in forwards infinite;
  stroke-dasharray: 460;
  stroke-dashoffset: 460;
  -webkit-animation: line-2 3s ease-in forwards infinite;
}

.logo-line-3 {
  animation: line-3 3s ease-in forwards infinite;
  stroke-dasharray: 485;
  stroke-dashoffset: 485;
  -webkit-animation: line-3 3s ease-in forwards infinite;
}

@keyframes line-1 {
  0% {
    fill: #004E66;
    stroke-dashoffset: 0;
  }
  50% {
    fill: #6FDCFE;
    stroke-dashoffset: 490;
  }
  100% {
    fill: #004E66;
    stroke-dashoffset: 980;
  }
}

@keyframes line-2 {
  0% {
    fill: #004E66;
    stroke-dashoffset: 0;
  }

  50% {
    fill: #6FDCFE;
    stroke-dashoffset: 460;
  }

  100% {
    fill: #004E66;
    stroke-dashoffset: 920;
  }
}

@keyframes line-3 {
  0% {
    fill: #004E66;
    stroke-dashoffset: 0;
  }

  50% {
    fill: #6FDCFE;
    stroke-dashoffset: 485;
  }

  100% {
    fill: #004E66;
    stroke-dashoffset: 970;
  }
}


@media (max-width: 1268px) {
  .navigation-logo {
    top: 50px;
  }
}

@media (max-width: 1068px) {
  .navigation-logo {
    height: 42px;
    top: 36px;
    width: 42px;
  }
}

@media (max-width: 868px) {
  .navigation-logo {
    height: 36px;
    top: 30px;
    width: 36px;
  }
}

@media (max-width: 668px) {
  .navigation-logo {
    top: 26px;
  }
}

@media (max-width: 468px) {
  .navigation-logo {
    top: 20px;
  }
}