
.menu-socials-container {
  left: 10vw;
  min-height: 46px;
  position: absolute;
  top: 50vh;
  width: 46px;
}

.menu-socials {
  height: 46px;
  list-style: none;
  margin-bottom: 22px;
  overflow: hidden;
  width: 100%;
}

.menu-socials:last-child {
  margin-bottom: 0;
}

.menu-socials a {
  color: white;
  display: block;
  height: 100%;
  position: relative;
  width: 100%;
}


@media (max-width: 1468px) {
  .menu-socials-container {
    left: 120px;
  }
}

@media (max-width: 1268px) {
  .menu-socials-container {
    left: 95px;
    width: 42px;
  }
  .menu-socials {
    height: 42px;
  }
}

@media (max-width: 1068px) {
  .menu-socials-container {
    left: 85px;
    width: 38px;
  }
  .menu-socials {
    height: 38px;
  }
}

@media (max-width: 868px) {
  .menu-socials-container {
    left: 60px;
    top: 42vh;
  }
}

@media (max-width: 768px) {
  .menu-socials-container {
    left: 50px;
    width: 34px;
  }
  .menu-socials {
    height: 34px;
  }
}

@media (max-width: 668px) {
  .menu-socials-container {
    left: 40px;
    top: 46vh;
  }
}

@media (max-width: 568px) {
  .menu-socials-container {
    left: 30px;
    top: 50vh;
    width: 30px;
  }
  .menu-socials {
    height: 30px;
  }
}

@media (max-width: 468px) {
  .menu-socials-container {
    display: none;
  }
}