
.navigation-menu-button {
  height: 30px;
  position: fixed;
  top: 68px;
  width: 80px;
  z-index: 800;
}

.menu-button-container, .button-flex-row {
  height: 100%;
  width: 100%;
}

.button-flex-row {
  flex-direction: row;
}

.menu-text-container {
  cursor: pointer;
  height: 30px;
  width: 50px;
}

.menu-text-container span {
  color: #6FDCFE;
  font-size: 1.1em;  
  font-weight: 700;
  letter-spacing: -0.04em;
  position: absolute;
}

.menu-text-container .close {
  color: #FFC01D
}

.menu-svg-container {
  height: 30px;
  width: 30px;
}

.menu-burger {
  cursor: pointer;
  transition: transform 600ms;
  user-select: none;

  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
}

.line {
  fill: none;
  stroke: #6FDCFE;
  stroke-width: 5.5;
  stroke-linecap: round;
  transition: stroke-dasharray 500ms, stroke-dashoffset 400ms;
}

.menu-burger-stroke .top {
  stroke-dasharray: 40 172;
}

.menu-burger-stroke .middle {
  stroke-dasharray: 40 111;
}

.menu-burger-stroke .bottom {
  stroke-dasharray: 40 172;
}

.menu-burger-stroke.active .top {
  stroke: #FFC01D;
  stroke-dashoffset: -132px;
}

.menu-burger-stroke.active .middle {
  stroke: #FFC01D;
  stroke-dashoffset: -71px;
}

.menu-burger-stroke.active .bottom {
  stroke: #FFC01D;
  stroke-dashoffset: -132px;
}



@media (max-width: 1268px) {
  .navigation-menu-button {
    top: 60px;
  }
}

@media (max-width: 1068px) {
  .navigation-menu-button {
    top: 46px;
  }
  .menu-text-container {
    width: 44px;
    height: 26px;
  }
  .menu-text-container span {
    font-size: 1em;
  }
  .menu-svg-container {
    width: 26px;
    height: 26px;
  }
}

@media (max-width: 868px) {
  .navigation-menu-button {
    top: 40px;
    width: 64px;
    height: 20px;
  }
  .menu-text-container {
    width: 44px;
    height: 20px;
  }
  .menu-text-container span {
    font-size: .85em;
  }
  .menu-svg-container {
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 668px) {
  .navigation-menu-button {
    top: 36px;
  }
}

@media (max-width: 468px) {
  .navigation-menu-button {
    top: 30px;
  }
}