.privacy {
  justify-content: flex-start;
  height: 1335px;
  max-width: 1600px;
}

.privacy-policy {
  height: 1085px;
  padding: 50px 0;
  margin-top: 150px;
  align-items: flex-start;
}

.p-h, .p-t, .p-date{
  color: #519693;
}

.p-t, .p-cont, .p-date{
  font-family: 'Ubuntu', 'verdana', 'sans-serif';
}

.privacy-policy a {
  color: #519693;
  text-decoration: none;
}

.p-h{
  font-size: 2.9em;
  font-family: 'Fresca', 'verdana', 'sans-serif';
}

.p-t {
  font-size: 1.8em;
  line-height: 2em;
  margin-top: 10px;
}

.p-date {
  font-size: 1.3em;
  line-height: 2em;
  margin-top: 10px;
}

.p-c {
  color: #7C7C7C;
  font-size: 1.2em;
  line-height: 1.9em;
  text-align: justify;
}

.gap {
  height: calc(1335px - 100vh);
  width: 100%;
  /* z-index: 5; */
  background: #F4F4F4;
}



@media (max-width: 1268px){
  .p-h{
    font-size: 2.8em;
  }
  .p-t {
    font-size: 1.7em;
  }
  .p-date {
    font-size: 1.27em;
  }
  .p-c {
    font-size: 1.18em;
  }
}

@media (max-width: 1168px) {
  .p-h {
    font-size: 2.7em;
  }
  .p-t {
    font-size: 1.65em;
  }
  .p-date {
    font-size: 1.24em;
  }
  .p-c {
    font-size: 1.16em;
  }
}

@media (max-width: 1068px) {
  .p-h {
    font-size: 2.4em;
  }
  .p-t {
    font-size: 1.6em;
  }
  .p-date {
    font-size: 1.21em;
  }
  .p-c {
    font-size: 1.14em;
  }
}

@media (max-width: 968px) {
  .p-h {
    font-size: 2.1em;
  }
  .p-t {
    font-size: 1.4em;
  }
  .p-date {
    font-size: 1.18em;
  }
  .p-c {
    font-size: 1.12em;
  }
}

@media (max-width: 868px) {
  .privacy {
    height: 1375px;
  }
  .privacy-policy {
    height: 1125px;
  }

  .p-h {
    font-size: 1.95em;
  }
  .p-t {
    font-size: 1.32em;
  }
  .p-date {
    font-size: 1.16em;
  }
  .p-c {
    font-size: 1.1em;
  }
  .gap {
    height: calc(1375px - 100vh);
  }
}


@media (max-width: 768px) {
  .privacy-policy {
    margin-top: 180px;
  }
  .p-t {
    font-size: 1.29em;
  }
  .p-date {
    font-size: 1.14em;
  }
  .p-c {
    font-size: 1.08em;
  }
}



@media (max-width: 668px) {
  .privacy {
    height: 1400px;
  }
  .privacy-policy {
    height: 1160px;
  }
  .p-t {
    font-size: 1.26em;
  }
  .p-date {
    font-size: 1.08em;
  }
  .p-c {
    font-size: 1.06em;
    line-height: 1.8em;
  }
  .gap {
    height: calc(1400px - 100vh);
  }
}

@media (max-width: 568px) {
  .privacy {
    height: 1450px;
  }
  .privacy-policy {
    height: 1210px;
  }

  .p-t {
    margin-top: 5px;
  }
  .p-date {
    font-size: 1.04em;
  }
  .p-c {
    font-size: 1.06em;
    line-height: 1.8em;
  }
  .gap {
    height: calc(1450px - 100vh);
  }
}

@media (max-width: 468px) {
  .privacy {
    height: 1650px;
  }
  .privacy-policy {
    height: 1350px;
  }
  .p-t {
    margin-top: 5px;
  }
  .p-date {
    font-size: 1em;
  }
  .p-c {
    font-size: 1em;
  }
  .gap {
    height: calc(1650px - 100vh);
  }
}


@media (max-width: 368px) {
   .privacy {
    height: 1850px;
  }
  .privacy-policy {
    height: 1550px;
  }
  .gap {
    height: calc(1850px - 100vh);
  }
}

@media screen and (max-width: 896px) and (orientation: landscape) {

  .gap {
    height: calc(1375px - 720px);
  }

}
